os:
  - linux
  - windows

language: node_js

node_js:
  - 13
  - 12
  - 10
  - 8

jobs:
  include:
    - stage: release
      node_js: lts/*
      deploy:
        provider: script
        skip_cleanup: true
        script: echo "//registry.npmjs.org/:_authToken=$NODE_AUTH_TOKEN" > ~/.npmrc && git checkout master && npm run boot && npm run build && npm run prepare:patch && npm run release
        on:
          branch: master
